[Bb]in/
[Oo]bj/
*.user
*.userosscache
*.sln.docstates
*.suo
*.userprefs


TestResults/
xunit.runner.json


*.nupkg
*.snupkg
**/packages/
!**/packages/build/
*.nuget.props
*.nuget.targets

appsettings.Development.json
appsettings.local.json
local.settings.json

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace


.idea/
*.sln.iml


Thumbs.db
ehthumbs.db
ehthumbs_vista.db
[Dd]esktop.ini
$RECYCLE.BIN/


.DS_Store
.AppleDouble
.LSOverride
._*
.Trashes


*~
.fuse_hidden*
.directory
.Trash-*
.nfs*


*.log
npm-debug.log*
yarn-error.log*


*.dump