DAB_CONNECTION_STRING="Server=localhost;Database=MobiFix;User Id=sa;Password=SuaSenhaSegura123;TrustServerCertificate=True;"

DAB_PORT=5000
DAB_URL="http://localhost:5000"

LN_API_PORT=5001
LN_API_URL="http://localhost:5001"


DabSettings__BaseUrl="http://localhost:5000"